
<li class="user">
  <%= image_tag "profile.png", :class => "avatar" %>
  <div class="name-posts">
    <p class="username"><%= user.name %></p>
    <p class="num-of-posts">Number of posts: <%= user.posts_counter %></p>
  </div>
</li>
