
<li class="post">
  <h2 class="post-title"><%= post.title %></h2>
  <p class="post-text"><%= post.text.first(200) + '...' %></p>
  <p class="comments-likes">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
</li>
