.show-container {
  margin-top: 50px;
}

.users,
.user-posts {
  list-style-type: none;
}

.users a {
  text-decoration: none;
}

.users a:visited {
  color: black;
}

.users a:link {
  color: black;
}

.users a:active {
  color: black;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  margin: 0 6% 40px;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin: 7% 6%;
  padding: 10px;
  border: 2px solid;
}

.avatar {
  width: 20%;
}

.name-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid;
  width: 75%;
  padding: 1%;
}

.username {
  font-size: 2rem;
  font-weight: bolder;
}

.num-of-posts {
  text-align: right;
  font-weight: bolder;
}

.posts-home {
  margin-top: 50px;
}

.posts-container,
.user-posts {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin: 7% 6% 0;
  padding: 0;
}

.post {
  list-style-type: none;
  border: 2px solid;
  padding: 5px;
  margin-bottom: 30px;
}

.comments-likes {
  text-align: right;
  padding-right: 10px;
}

.see-all-btn {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  padding: 0;
}

.user-comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  padding: 5px;
  margin-bottom: 30px;
}

.pagination-btn {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}

.link {
  color: black;
  text-decoration: none;
}

.name-comments-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comments-wrapper {
  border: 2px solid;
  margin-top: -26px;
  margin-bottom: 30px;
}

.top {
  border: 2px solid;
  margin: 7% 6% 0;
  padding: 5px;
}

.comment-list {
  border: 2px solid;
  margin: 3px 6%;
}

.comment-box {
  margin: 2% 6% 0;
}

.likes-box {
  margin: 1% 6% 0;
}
