/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .show-container {
   margin-top: 50px;
 }

 .users,
 .user-posts {
  list-style-type: none;
}

.users a {
  text-decoration: none;
}

.users a:visited {
  color: black;
}

.users a:link {
  color: black;
}

.users a:active {
  color: black;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  /* margin-bottom: 40px; */
  margin: 0 6% 40px;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 5%;
  /* margin-bottom: 40px; */
  margin: 7% 6%;
  padding: 10px;
  border: 2px solid;
}

.avatar {
  width: 20%;
}

.name-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid;
  width: 75%;
  padding: 1%;
}

.username {
  font-size: 2rem;
  font-weight: bolder;
}

.num-of-posts {
  text-align: right;
  font-weight: bolder;
}

.posts-container,
.user-posts {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5%;
  /* margin-bottom: 40px; */
  margin: 7% 6% 0;
  padding: 0;
}

.post,
.user-comments {
  list-style-type: none;
  border: 2px solid;
  padding: 5px;
  margin-bottom: 30px;
}

.comments-likes {
  text-align: right;
  padding-right: 10px;
}

.see-all-btn {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
  padding: 0;
}

.user-comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -28px;
}

.pagination-btn {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}
