/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .users {
  list-style-type: none;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* margin-bottom: 40px; */
  margin: 0 6% 40px;
}

.avatar {
  width: 20%;
}

.name-posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid;
  width: 75%;
  padding: 1%;
}

.username {
  font-size: 2rem;
  font-weight: bolder;
}

.num-of-posts {
  text-align: right;
  font-weight: bolder;
}
